/* Custom font */
@font-face {
  font-family: "Ailerons";
  src: url("./fonts/subset-Ailerons-Regular.woff2") format("woff2"),
    url("./fonts/subset-Ailerons-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: #d1e8e4; /* Soft crystal blue background for selection */
}

html,
body {
  overflow: hidden;
  background-color: transparent; /* Ensure body is transparent */
}

/* Experience Section */
.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: transparent; /* Set transparent background */
  touch-action: none;
  overflow: hidden;
}

/* Credits Section */
.credits {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #b2d8e6; /* Soft, light blue text for credits */
  text-align: right;
  font-family: "Roboto", sans-serif;
}

.credits a {
  color: inherit;
}

/* Title Styles */
.title {
  position: absolute;
  top: calc(50% - 14vmin / 2);
  left: 0;
  width: 100%;
  color: #ecf6f6; /* Crystal blue text color */
  font-size: 14vmin;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  font-family: "Ailerons", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
